<!DOCTYPE html>
<html>
<title><%= title %></title>
<style type="text/css" media="screen">
body {
  font-family: "Gill Sans", Helvetica, Arial;
  text-align: center;

}

</style>
<body>
<%- body %>
</body>
</html>