<% layout('layout') -%>

<div id="Header">
		<h1><%= title %></h1>
		<p>Welcome to <%= title %>. I'm hoping to get some sort of logo here....</p> 
    </div>
	<div id="Main">
        <div id="SubMain">
            <div id="Welcome">
               	<h2>Welcome to Wishlist!</h2>
				<p>Have you ever wanted a dynamic wish list application to complement your online shopping? <br><br>
				That is what Wish List is designed to do! Amazon has its own wish list feature, sure, but it is static and requires you to
				constantly check on your items. We will bring the updates to you: you will have a real-time newsfeed along with notifications
				when items on your wish lists change prices or have deals on shipping.<br><br>
				So sign up with us - we're here to serve your shopping needs!</p>
            </div>
            <div id="LogIn">
               <p> <b>Login Here: </b></p>
				<form name="login" action="/" method="post">
					Please Enter your email: <input type="text" name="user_email" value="someone@example.com"><br><br>
					Password: <input type="password" name= "password">
					<input type="submit" value="login">
				</form>
				<br><br><br>
    </div>
            <div id="SignUp">
					   <p> <b>Sign up for an account!</b></p>
						<form name="NewAccount" action="/newAccount" method="post">
							Please enter: <br><br>
							First name: <input type="text" name="firstName" value="Jon"><br>
							Last name: <input type="text" name="lastName" value="doe"><br>
							Email address (you will login with this): <input type="text" name="user_email" value="someone@example.com"><br>
							Password: <input type="password" name= "password"><br>
							Type the password again: <input type="password" name= "pass2">
							<input type="submit" value="Create">
						</form>
        
            </div>
		</div>
	</div>
    <div id="Footer">
    	Any copyright info goes here!
    </div>


