<% layout('layout') -%>

<div id="Header">
		<h1><%= title %></h1>
		<p>Welcome to <%= title %>. I'm hoping to get some sort of logo here....</p> 
    </div>
	<div id="Main">
        <div id="SubMain">
            <div id="Welcome">
               	<h2>Welcome to Wishlist!</h2>
				<p>Here we will put some awsome info about our website!</p>
            </div>
            <div id="LogIn">
               <p> <b>Login Here: </b></p>
				<form name="login" action="/" method="post">
					Please Enter your email: <input type="text" name="user_email" value="someone@example.com"><br><br>
					Password: <input type="password" name= "password">
					<input type="submit" value="login">
				</form>
				<br><br><br>
    </div>
            <div id="SignUp">
					   <p> <b>Sign up for an account!</b></p>
						<form name="NewAccount" action="/newAccount" method="post">
							Please enter: <br><br>
							First name: <input type="text" name="firstName" value="Jon"><br>
							Last name: <input type="text" name="lastName" value="doe"><br>
							Email address (you will login with this): <input type="text" name="user_email" value="someone@example.com"><br>
							Password: <input type="password" name= "password"><br>
							Type the password again: <input type="password" name= "pass2">
							<input type="submit" value="Create">
						</form>
        
            </div>
		</div>
	</div>
    <div id="Footer">
    	Any copyright info goes here!
    </div>


