<% layout('layout') -%>
<link rel="stylesheet" type="text/css" href="/stylesheets/wishlists_cont_display.css">
<p> Hi <span class='name'> <%=name%> </span> 
<br> Welcome to the wishlist dashboard.
<br> Here you can keep track of all your wishlists and share them with your friends.
<br> Enjoy
</p>
