<% layout('layout') -%>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<div id="Header">
		<h1><%= title %></h1>
		<p>Welcome to <%= title %>. I'm hoping to get some sort of logo here....</p> 
		
    </div>
	<div id="Main">
        <div id="SubMain">
            <div id="SidePannel">
               	Herer is wherer all the buttons will go!<br/>
				These are just samples of what can go herer.<br/><br/>
				Home<br/><br/>
				<a href="wishlists_items.ejs">My WishLists</a><br/><br/>
				Logout<br/><br/>
            </div>
            <div id="MainPannel">
				<div id="Title">
					<h2>Jane's Wishlist</h2>
				</div>
				<p> welcome back <span class='name'> <%=name%> </span> </p>
				This is wherer the wishlist data will go.
            </div>
		</div>
	</div>
    <div id="Footer">
    	Any copyright info goes here!
    </div>
