<% layout('layout') -%>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<div id="Header">
		<img src="http://i49.tinypic.com/1rysmh.png">
		
    </div>
	<div id="Main">
            <div id="SidePannel">
               	<b>NAVIGATION</b><br><br>
				Home<br/><br/>
				My Wish Lists<br/><br/>
				Account Settings<br/><br/>
				Logout<br/><br/>
            </div>
            <div id="MainPannel">
				<div id="Title">
					<h2><%=name%>'s Wishlist</h2>
				</div>
						<p> Hi <span class='name'> <%=name%>!</span> 
						<br> Welcome to the wishlist dashboard.<br>
						<br> Here you can keep track of all your wishlists and share them with your friends.
						<br> Enjoy!
						</p>

            </div>
		
	</div>
    <div id="Footer">
    	Any copyright info goes here!
    </div>
