<% layout('layout') -%>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<div id="Header">
		<h1><%= title %></h1>
		<p>Welcome to <%= title %>. I'm hoping to get some sort of logo here....</p> 
		
    </div>
	<div id="Main">
            <div id="SidePannel">
               	Herer is wherer all the buttons will go!<br/>
				These are just samples of what can go herer.<br/><br/>
				Home<br/><br/>
				My WishList<br/><br/>
				Logout<br/><br/>
            </div>
            <div id="MainPannel">
				<div id="Title">
					<h2>Jane's Wishlist</h2>
				</div>
						<p> Hi <span class='name'> <%=name%> </span> 
						<br> Welcome to the wishlist dashboard.
						<br> Here you can keep track of all your wishlists and share them with your friends.
						<br> Enjoy
						</p>

            </div>
		
	</div>
    <div id="Footer">
    	Any copyright info goes here!
    </div>
