<% layout('layout') -%>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<div id="Header">
		<h1><%= title %></h1>
		<p>Welcome to <%= title %>. I'm hoping to get some sort of logo here....</p> 
		
    </div>
	<div id="Main">
        <div id="SubMain">
            <div id="SidePannel">
               	Herer is wherer all the buttons will go!<br/>
				These are just samples of what can go herer.<br/><br/>
				Home<br/><br/>
				<a href="wishlists_items.ejs">My WishLists</a><br/><br/>
				Logout<br/><br/>
            </div>
            <div id="MainPannel">
				<div id="Title">
					<h2>Jane's Wishlist</h2>
				</div>
				<p> welcome back <span class='name'> <%=name%> </span> </p>
				<p>You currently have 2 items in your wishlist</p>
				<p><b>Arco Iris Eternal Love Teardrop Swarovski 
				Elements Crystal Pendant Necklace for Women W 18k 
				White Gold Plated Chain - Blue Topaz</b></p>
				<div style="width:300px; height:200px; float:left">
				<img scr="Swarovski.jpeg" alt="image1" width="200px" height="200px"/>
				</div>
				<b>Price:</b> $25.00 <br />
				<b>Shipping option:</b> One-Day Shipping <br /><br /><br /><br /><br /><br /><br /><br />
				<br /><br /><br /><br />
				
				<p><b>Michael Kors Jet Set Large Pouchette Mono Patent Bordeaux Purse</b></p>
				<div style="width:300px; height:200px; float:left">
				<img scr="MichaelKors.jpg" alt="image2" width="200px" height="200px"/>
				</div>
				<b>Price:</b> $83.00 <br />
				<b>Shipping option:</b> Standard <br />
            </div>
		</div>
	</div>
    <div id="Footer">
    	Any copyright info goes here!
    </div>
