body
	background-color:black
	color:white


#Header
	width:800px
	height:100px
	padding:10px
	margin:auto	

#Footer
	width:800px
	height:50px
	text-align:center
	padding:10px
	margin:auto



#Main
	width:800px
	height:800px
	margin:auto


#Welcome
	width:350px
	height:600px
	padding:10px
	background-color:grey
	float:left
	


#LogIn
	position:relative
	width:410px
	height:200px
	margin:auto
	background-color:white
	padding:10px
	float:left
	color:black


#SignUp
	color:black
	position:relative
	width:410px
	height:380px
	margin:auto
	background-color:white
	padding:10px
	float:left


#SidePannel
	width:100px
	height:760px
	padding:5px
	Background-color:grey
	float:left
	text-align:center


#MainPannel
	width: 640px
	height: 760px
	padding: 5px
	background-color:white
	color:black
	float: left


#Title
	width: 97%
	height: 50px
	padding: 10px
	background-color:grey

