body {
  background-color: #000;
  color: #fff;
}
#Header {
  width: 800px;
  height: 100px;
  padding: 10px;
  margin: auto;
}
#Footer {
  width: 800px;
  height: 50px;
  text-align: center;
  padding: 10px;
  margin: auto;
}
#Main {
  width: 800px;
  height: 800px;
  margin: auto;
}
#Welcome {
  width: 350px;
  height: 780px;
  padding: 10px;
  background-color: #808080;
  float: left;
}
#LogIn {
  position: relative;
  width: 410px;
  height: 380px;
  margin: auto;
  background-color: #fff;
  padding: 10px;
  float: left;
  color: #000;
}
#SignUp {
  color: #000;
  position: relative;
  width: 410px;
  height: 380px;
  margin: auto;
  background-color: #fff;
  padding: 10px;
  float: left;
}
#SidePannel {
  width: 100px;
  height: 760px;
  padding: 5px;
  Background-color: #808080;
  float: left;
  text-align: center;
}
#MainPannel {
  width: 640px;
  height: 760px;
  padding: 5px;
  background-color: #fff;
  color: #000;
  float: left;
}
#Title {
  width: 97%;
  height: 50px;
  padding: 10px;
  background-color: #808080;
}
