body{
	background-size:2000px 2000px;
	background-color:red;
	background-repeat:no-repeat;
	background-position:center; 
}

#Header{
	width:850px;
	height:100px;
	background-color:blue;
	padding:10px;
	margin:auto;
	border-radius:15px;	
}
#Footer{
	width:850px;
	height:50px;
	background-color:teal;
	padding:10px;
	margin:auto;
	border-radius:15px;
}
#Main{
	width:800px;
	height:800px;
	background-color:white;
	border-radius: 15px;
	margin:auto;
	padding:30px;
}

#SubMain{
	width:780px;
	height:780px;
	background-color:#C36;
	border-radius: 15px;
	margin:auto;
	padding:10px;
}

#Welcom{
	width:390px;
	height:760px;
	padding:10px;
	background-color:yellow;
	float:left;
	border-radius:15px;
	
}

#LogIn{
	position:relative;
	width:350px;
	height:370px;
	margin:auto;
	background-color:white;
	border-radius:15px;
	padding:10px;
	float:left;
}

#SignUp{
	position:relative;
	width:350px;
	height:370px;
	margin:auto;
	background-color:green;
	border-radius:15px;
	padding:10px;
	float:left;
}

#SidePannel{
	width:100px;
	height:760px;
	padding:5px;
	Background-color:yellow;
	float:left;
	border-radius:15px;
}

#MainPannel{
	width: 640px;
	height: 760px;
	padding: 10px;
	background-color:green;
	float: left;
	border-radius:15px;
}

#Title{
	width: 97%;
	height: 50px;
	padding: 10px;
	background-color:orange;
	border-radius:15px;